@charset "utf-8";
@import '../theme.scss';

.x-tabs {
  display: flex;
  height: px(100);
  position: relative;
  width: 100%;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background: #fff;
    font-size: px(30);
    color: #3e3d57;
    position: relative;
    &:active {
      color: inherit;
    }
  }
  &--active {
    color: $primaryColor;
    font-weight: bold;
    &:active {
      color: $primaryColor;
      opacity: 1;
    }
  }
  &__line {
    width: 50%;
    height: px(6);
    transition: transform 0.3s ease-out;
    display: block;
    position: absolute;
    left: 0;
    bottom: px(10);
    z-index: 9;
    top: auto;
    pointer-events: none;
    &:after {
      content: '';
      background: linear-gradient(to left, #ffd100, rgba(#ffd100, 0));
      width: px(60);
      height: px(6);
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: px(-30);
      border-radius: px(3);
    }
    &--ani {
      &:after {
        animation: __x_tabs_line_scale 0.3s ease-out;
      }
    }
  }
}

@keyframes __x_tabs_line_scale {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(4);
  }
  100% {
    transform: scaleX(1);
  }
}
