@charset "utf-8";
@import '../theme.scss';

.x-spin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-loading__spin {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: px(30);
  width: px(82);
  span {
    width: px(12);
    height: px(12);
    display: block;
    border-radius: 50%;
    background: rgb(0, 207, 151);
    position: absolute;
    top: px(8);
    &:nth-child(1) {
      left: px(0);
      animation: '__x_loading_bounce' 0.75s linear 0s infinite;
    }
    &:nth-child(2) {
      left: px(28);
      animation: '__x_loading_bounce' 0.75s linear 0.3s infinite;
    }
    &:nth-child(3) {
      left: px(56);
      animation: '__x_loading_bounce' 0.75s linear 0.5s infinite;
    }
  }
}

@keyframes __x_loading_bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
