@charset "utf-8";

body {
  font-family: Helvetica;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* force a vertical scrollbar to prevent a jumpy page */
body {
  display: block;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul, menu {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font-size: 0.3rem;
  color: #333;
  line-height: 1.5;
}

* {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

a {
  color: #00bb55;
}

a:active {
  opacity: 0.7;
}

/* 去除默认皮肤样式，默认事件等 */
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-touch-callout: none;
}

/* 切换盒模型 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
