@charset "utf-8";

.auto-ui-button {
  user-select: none;
  width: 100%;
  height: 90px;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  line-height: 1;
  padding: 0;
  text-align: center;
  &__loading {
    width: 25px;
    height: 25px;
    .auto-ui-loading__spin_path {
      stroke: #fff;
      stroke-width: 5px; /*no*/
    }
  }
  &__text {
    padding: 0 10px;
  }
  &--primary {
    background: #00bb55;
    color: #fff;
    border: 1px solid #00bb55; /* no */
    &:active {
      background: darken(#00bb55, 5);
    }
  }
  &--danger {
    background: #ff5f4a;
    color: #fff;
    border: 1px solid #ff5f4a; /* no */
    &:active {
      background: darken(#ff5f4a, 5);
    }
  }
  &--default {
    background: #e3e3e3;
    color: #666;
    border: 1px solid #e3e3e3; /* no */
    &:active {
      background: darken(#e3e3e3, 5);
    }
    .auto-ui-button__loading {
      .auto-ui-loading__spin_path {
        stroke: #666;
      }
    }
  }
  &--hollow {
    background-color: #fff;
    &.auto-ui-button--default {
      &:active {
        background: rgba(#e3e3e3, 0.4);
      }
      .auto-ui-loading__spin_path {
        stroke: #666;
      }
    }
    &.auto-ui-button--danger {
      color: #ff5f4a;
      &:active {
        background: rgba(#ff5f4a, 0.2);
      }
      .auto-ui-loading__spin_path {
        stroke: #ff5f4a;
      }
    }
    &.auto-ui-button--primary {
      color: #00bb55;
      &:active {
        background: rgba(#00bb55, 0.2);
      }
      .auto-ui-loading__spin_path {
        stroke: #00bb55;
      }
    }
  }
  &--mini {
    width: auto;
    display: flex;
    height: 70px;
    font-size: 28px;
    padding: 0 30px;
    .auto-ui-button__loading {
      .auto-ui-loading__spin {
        width: 20px;
        height: 20px;
      }
    }
  }
  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
