@charset "utf-8";

@import '../../theme.scss';

.x-dialog {
  z-index: 10001;
  flex-direction: column;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 0 px(40) px(40) px(40);
    overflow: hidden;
  }

  &.x-dialog--fix-top {
    .x-dialog__inner {
      padding-top: px(40);
    }
  }

  &__close {
    position: absolute;
    top: px(30);
    left: px(30);
    z-index: 9;
    width: px(50);
    height: px(50);
    padding: px(9);

    svg {
      width: px(28);
      height: px(28);
    }

    path {
      fill: var(--x-text-color);
    }
  }

  &__title {
    display: block;
    width: 100%;
    height: px(110);
    margin-top: px(-40);
    padding: 0 px(100);
    overflow: hidden;
    font-weight: normal;
    font-size: px(30);
    line-height: px(110);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }

  &__scroller {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__inscroller {
    flex: 1;
    margin: 0 px(-30) 0 0;
    padding: 0 px(30) 0 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .x-modal__inner {
    display: block;
    width: 85%;
    height: auto;
    padding-top: px(40);
    background: var(--x-panel-bg-color);
    border-radius: px($bigRadius);
    transform-origin: 50%;
  }

  &.x-modal--enter {
    .x-modal__mask {
      opacity: 1;
    }

    .x-modal__inner {
      animation: __x_dialog_enter 0.2s ease-out;
    }
  }

  &.x-modal--leave {
    .x-modal__mask {
      opacity: 0;
    }

    .x-modal__inner {
      animation: __x_dialog_leave 0.1s ease-out;
    }
  }
}

@keyframes __x_dialog_enter {
  0% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  75% {
    transform: scale(0.95, 0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes __x_dialog_leave {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(0.95, 0.95);
    opacity: 0;
  }
}
