.x-radio {
  display: flex;
  align-items: center; }
  .x-radio__icon {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #eee;
    overflow: hidden;
    transition: all 0.1s ease-out; }
  .x-radio__tick {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABACAMAAABcMMtAAAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAj3DkH914IhsX4OiLc5a/afDSgAr7yrJboohOOTYFWf092wAAARFJREFUWMPt1NuOgjAURmFQKug403LwMEfe/y0nhpiVWJMdt7/GC9YlNF82oW0x9/INKcaYBi16bMdTbVKiq/HcQoxO7WohSqUQpb0QpSBEaS9EqXwEuqt1KKVHoOWLoosZndFno81XjIfvm9D3DN1erOinx10jRFkRGh36y6tNdSdKh5GWlervjwR716SosAIUFVay+buMFaBc5rDuz6e/LmcFZ79aZmztmdRmK9ek9rQO1Gbfahdqs34UdpOzbpSaK6yBelkD9bIG6mUN1MsaqJf1o7DhkmgN1DetAIUVobBBiNI6GKiMBRWyoHr2w8vBSlFYKQqrR2FBhSyont0WwobP6do6Ftp+Vn2f1sXN/QPOPqT/AGCmLwAAAABJRU5ErkJggg==") center no-repeat;
    background-size: 50%;
    transform: translate(0, -100%);
    transition: all 0.2s ease-out; }
  .x-radio__text {
    display: block;
    font-size: 26px;
    color: #888;
    margin-left: 10px; }
  .x-radio__checked .x-radio__icon {
    background: #00bb44; }
  .x-radio__checked .x-radio__tick {
    transform: translate(0, 0); }
  .x-radio__checked .x-radio__text {
    color: #333; }
  .x-radio__disabled .x-radio__text {
    color: #bbb; }
