:root {
  --x-primary-color: #00c286;
  --x-primary-color-from: #1dcd82;
  --x-primary-color-to: #00c286;
  --x-danger-color: rgb(255, 89, 73);
  --x-danger-color-from: rgb(255, 89, 73);
  --x-danger-color-to: rgb(255, 77, 77);
  --x-default-button-bg-color: rgb(235, 235, 238);
  --x-default-button-border-color: rgb(211, 211, 211);
  --x-panel-bg-color: #fff;
  --x-switch-bg-color: rgb(211, 211, 211);
  --x-border-color: rgb(235, 235, 238);
  --x-input-border-color: #ebebee;
  --x-input-border-focus-color: rgb(196, 196, 205);
  --x-bg-color-lighter: #fff;
  --x-bg-color: #f2f2f2;
  --x-mask-color: rgba(0, 0, 0, 0.7);
  --x-cell-bg-color: #fff;
  --x-text-color: rgb(60, 60, 90);
  --x-text-color-o90: rgba(60, 60, 90, 0.9);
  --x-text-color-o80: rgba(60, 60, 90, 0.8);
  --x-text-color-o70: rgba(60, 60, 90, 0.7);
  --x-text-color-o60: rgba(60, 60, 90, 0.6);
  --x-text-color-o50: rgba(60, 60, 90, 0.5);
  --x-text-color-o40: rgba(60, 60, 90, 0.4);
  --x-text-color-o30: rgba(60, 60, 90, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --x-primary-color: #00c286;
    --x-primary-color-from: #1dcd82;
    --x-primary-color-to: #00c286;
    --x-danger-color: rgb(255, 89, 73);
    --x-danger-color-from: rgb(255, 89, 73);
    --x-danger-color-to: rgb(255, 77, 77);
    --x-default-button-bg-color: rgba(255, 255, 255, 0.05);
    --x-default-button-border-color: rgba(255, 255, 255, 0.1);
    --x-panel-bg-color: rgb(47, 47, 51);
    --x-switch-bg-color: #343438;
    --x-border-color: #1e1f23;
    --x-input-border-color: rgba(255, 255, 255, 0.2);
    --x-input-border-focus-color: #00c286;
    --x-bg-color-lighter: #1f1f23;
    --x-bg-color: #18181c;
    --x-mask-color: rgba(0, 0, 0, 0.7);
    --x-cell-bg-color: #28282d;
    --x-text-color: rgb(211, 211, 211);
    --x-text-color-o90: rgba(211, 211, 211, 0.9);
    --x-text-color-o80: rgba(211, 211, 211, 0.8);
    --x-text-color-o70: rgba(211, 211, 211, 0.7);
    --x-text-color-o60: rgba(211, 211, 211, 0.6);
    --x-text-color-o50: rgba(211, 211, 211, 0.5);
    --x-text-color-o40: rgba(211, 211, 211, 0.4);
    --x-text-color-o30: rgba(211, 211, 211, 0.3);
  }
}

$smallRadius: 6 !default; // input、button的圆角
$bigRadius: 20 !default; // alert、dialog的圆角

$primaryColor: rgb(0, 207, 151) !default; // 主色调与主色调:active的颜色
$primaryColor2: rgb(20, 215, 138) !default; // 主色调2，用于渐变
$primaryColor3: rgb(0, 191, 140) !default; // 主色调3，用户hollow下press状态
$dangerColor: rgb(255, 89, 73) !default; // 警告色与警告色:active的颜色
$dangerColor2: rgb(255, 77, 77) !default; // 警告色2，用于渐变
$borderColor: rgb(235, 235, 238) !default; // input、cell的边的颜色
$background: #fff !default; // layout.body的背景色
$maskColor: rgba(0, 0, 0, 0.7) !default;

@function px($px) {
  @return $px * 1px;
}
