$primaryColor: #00cf97 !default; // 主色调与主色调:active的颜色
$primaryColor2: #14d78a !default; // 主色调2，用于渐变
$dangerColor: #ff5949 !default; // 警告色与警告色:active的颜色
$dangerColor2: rgb(255, 77, 77) !default; // 警告色2，用于渐变
$buttonRadius: 45 !default; // input、button的圆角
$alertRadius: 8 !default; // alert、toast、dialog的圆角
$borderColor: rgb(235, 235, 238) !default; // input、cell的边的颜色
$background: #fff !default; // layout.body的背景色
$maskColor: rgba(0, 0, 0, 0.7) !default;

@function px($px) {
  @return $px * 1px;
}
