@charset "utf-8";
@import '../theme.scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  color: rgb(60, 60, 90);
}

a,
button {
  color: $primaryColor;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  display: inline;
  -webkit-appearance: none;
  &:active {
    opacity: 0.7;
  }
}

.x-app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $background;
}

.x-app-header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  &.x-app-header--bottom-shadow {
    box-shadow: 0 0 px(20) rgba(0, 0, 0, 0.08);
  }
  &.x-app-header--bottom-border {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); /*no*/
  }
  &.x-app-header--has-tabs {
    > .x-tabs {
      margin-top: px(-20);
      position: relative;
      z-index: 4;
    }
    &.x-app-header--headline {
      > .x-tabs {
        margin-top: px(-40);
      }
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: opacity 0.3s ease-out;
  }
  &__inner {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: px(110);
    a:not([class]),
    button:not([class]) {
      color: #8a8a9c;
    }
  }
  &__title {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 px(100);
    font-size: px(36);
    color: #3e3d57;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
  }
  &__addon-before,
  &__addon-after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex: 1;
    align-items: center;
    z-index: 2;
    padding: 0 px(40);
    * {
      pointer-events: auto;
    }
  }
  &__addon-after {
    justify-content: flex-end;
  }
  &__homepage-button {
    display: block;
    width: px(80);
    height: px(80);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAlCAMAAAD7q3BLAAAAh1BMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMAulUEslMJrFEqWz0uTDkbjUkieET9CPMZAAAAJXRSTlMAIPImmvcO/uRJB867Vgns1aGMWy0cBd/IlZJ7Y15SQ6uESz43JFctUgAAAPhJREFUOMvNk9lugzAQADcGYyAQQkhIc/cacrT//311UkUCFxepL808WKvVaHd9SYdDpolnkfhI19yIE48QjLkzS6WHXAHTJNhoYByIyyTEEk5sOJ8CetvXQeVt+7kzcKW6lffFdeA3p8OqPd0iA8xLbcN7X7WXLhsDPI3Ekujv0OV9CaiDrad8+4/Kq7KQlV1fpZ9Kw1piqMTHFpZiwH9TERgBxA/wByP9YVw+L+1USOgap+bUThmMazRN46Qe1Tg2xwHj/HFupzKygTOt5/XwvfyTMfDGkBhy8ZFDLCGo3aifnYJQAsVvqOD25/zoRCxBWdBPUdoKX7BrMWS1aoFDAAAAAElFTkSuQmCC')
      center no-repeat;
    background-size: px(33);
    margin-right: px(-23);
  }
  &__addon-bottom {
    position: relative;
    z-index: 3;
    > .x-tabs {
      margin-top: px(-30);
    }
  }
  &--ghost {
    box-shadow: none;
    &:after {
      opacity: 0;
    }
    .x-app-header__title {
      color: #fff;
    }
    .x-app-header__inner {
      a:not([class]),
      button:not([class]) {
        color: #fff;
      }
    }
  }
  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(80);
    height: px(80);
    svg {
      width: px(36);
      height: px(36);
    }
    path {
      fill: rgb(60, 60, 90);
    }
    margin-left: px(-25);
    &:active {
      opacity: 0.7;
    }
  }
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(80);
    height: px(80);
    margin-left: px(-20);
    svg {
      width: px(36);
      height: px(36);
    }
    path {
      fill: rgb(60, 60, 90);
    }
    &:active {
      opacity: 0.7;
    }
  }
}

.x-app-header--ghost .x-app-header__back {
  path {
    fill: #fff;
  }
}

.x-app-header--ghost .x-app-header__close {
  path {
    fill: #fff;
  }
}

.x-app-header--headline {
  .x-app-header {
    &__addon-before,
    &__addon-after {
      height: px(110);
    }
    &__inner {
      min-height: 0;
      padding: px(100) 0 px(40) 0;
    }
    &__title {
      text-align: left;
      padding: 0 px(40);
      font-size: px(55);
      font-weight: bold;
    }
    &__addon-bottom {
      margin-top: px(-35);
      padding: 0 px(40) px(40) px(40);
      color: #8a8a9c;
    }
  }
  &-fix-padding {
    .x-app-header__inner {
      padding-top: px(40);
    }
    .x-app-header__addon-after {
      height: px(155);
    }
  }
}

.x-app-body {
  width: 100%;
  // height: 100%;
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: px(40);
  z-index: 1;
  &__skeleton {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    padding: px(40);
    &.skeletonHide {
      transition: all 1s ease;
      opacity: 0;
    }
  }
  &__inner {
    > .x-cell {
      margin-left: px(-40);
      margin-right: px(-40);
    }
    > .x-cell__title:first-child {
      margin-top: 0;
    }
  }

  &--loading {
    .x-app__loading {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: px(-15) 0 0 px(-41);
    }
  }
  &--error {
    .x-app__error-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 40%;
      transform: translate(0, -50%);
      color: rgb(196, 196, 205); // rgb(60, 60, 90) x 0.3alpha
      font-size: px(26);
      padding: 0 px(100);
      svg {
        width: px(80);
        height: px(80);
        margin-bottom: px(20);
      }
      path {
        fill: rgb(196, 196, 205); // rgb(60, 60, 90) x 0.3alpha
      }
    }
  }
  &__bottom {
    margin-top: px(20);
    text-align: center;
    color: rgb(196, 196, 205); // rgb(60, 60, 90) x 0.3alpha

    &-inner {
      height: px(80);
      line-height: px(80);
      margin: 0 auto;
      &:active {
        opacity: 0.7;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      .x-spin {
        transform: scale(0.75);
      }
    }
  }
}

.x-app-footer {
  background: #fff;
  min-height: px(90);
  position: relative;
  z-index: 6;
}
