@charset "utf-8";
@import '../theme.scss';

.x-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: px(90);
  font-size: px(30);
  border-radius: px($buttonRadius);
  white-space: nowrap;
  transition: all 0.15s ease-out;
  user-select: none;
  &:active {
    opacity: 1;
  }
  &--capsule {
    border-radius: px(45);
  }
  // .x-button__loading {
  //   width: px(25);
  //   height: px(25);
  //   margin-right: px(10);
  //   .x-loading__spin_path {
  //     stroke: #fff;
  //     stroke-width: px(5); /*no*/
  //   }
  // }
  &--default {
    background: rgb(235, 235, 238);
    color: rgb(170, 170, 176);
    &:active {
      background: rgb(225, 225, 228);
      color: rgb(165, 165, 170);
      opacity: 1;
    }
    .x-loading__spin span {
      background: $primaryColor;
    }
    &.x-button--hollow {
      border: px(1) solid $borderColor; /*no*/
      background: #fff;
      &:active {
        border: px(1) solid mix($borderColor, #000, 92%); /*no*/
        background: rgb(235, 235, 238);
      }
      .x-loading__spin span {
        background: $primaryColor;
      }
    }
  }
  &--primary {
    background: linear-gradient(to left, $primaryColor, $primaryColor2);
    color: #fff;
    &:active {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.04);
        border-radius: inherit;
      }
    }
    &.x-button--shadow {
      box-shadow: 0 20px 30px -20px rgba(0, 210, 147, 0.8);
    }
    .x-loading__spin span {
      background: #fff;
    }
    &.x-button--hollow {
      border: px(1) solid $primaryColor; /*no*/
      background: #fff;
      color: $primaryColor;
      &:active {
        border: px(1) solid mix($primaryColor, #000, 92%); /*no*/
        color: mix($primaryColor, #000, 92%);
        background: rgba(mix($primaryColor, #000, 92%), 0.1);
      }
      .x-loading__spin span {
        background: $primaryColor;
      }
    }
  }
  &--danger {
    background: linear-gradient(to left, $dangerColor, $dangerColor2);
    color: #fff;
    &:active {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.04);
        border-radius: inherit;
      }
    }
    .x-loading__spin span {
      background: #fff;
    }
    &.x-button--shadow {
      box-shadow: 0 20px 30px -20px rgba(255, 77, 77, 0.8);
    }
    &.x-button--hollow {
      border: px(1) solid $dangerColor; /*no*/
      background: #fff;
      color: $dangerColor;
      &:active {
        border: px(1) solid mix($dangerColor, #000, 92%); /*no*/
        color: mix($dangerColor, #000, 92%);
        background: rgba(mix($dangerColor, #000, 92%), 0.1);
      }
      .x-loading__spin span {
        background: $dangerColor;
      }
    }
  }
  &--mini {
    height: px(60);
    font-size: px(26);
    .x-button__loading {
      .x-loading__spin {
        transform: scale(0.75);
        min-width: px(62);
      }
    }
  }
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
  }
  &--loading {
    opacity: 0.8;
    pointer-events: none;
    cursor: not-allowed;
  }
  &--shrink {
    width: auto;
    padding: 0 px(60);
    &.x-button--mini {
      padding: 0 px(30);
    }
    display: inline-flex;
  }
}
