.auto-ui_navbar {
  height: 110px;
  line-height: 110px;
  user-select: none;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.08);
  font-size: 34px;
  color: #333;
  z-index: 2;
  &-icon {
    height: 110px;
    width: 66px;
    display: inline-block;
    background-size: 33px 37px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  &-leftbtn {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 40px;
    height: 110px;
  }
  &-title {
    width: 100%;
    text-align: center;
    padding: 0 118px;
    font-weight: 600;
    font-size: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-rightbtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 40px;
    height: 110px;
    display: flex;
    align-items: center;
    &-icon {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAlCAMAAAD7q3BLAAAAh1BMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMAulUEslMJrFEqWz0uTDkbjUkieET9CPMZAAAAJXRSTlMAIPImmvcO/uRJB867Vgns1aGMWy0cBd/IlZJ7Y15SQ6uESz43JFctUgAAAPhJREFUOMvNk9lugzAQADcGYyAQQkhIc/cacrT//311UkUCFxepL808WKvVaHd9SYdDpolnkfhI19yIE48QjLkzS6WHXAHTJNhoYByIyyTEEk5sOJ8CetvXQeVt+7kzcKW6lffFdeA3p8OqPd0iA8xLbcN7X7WXLhsDPI3Ekujv0OV9CaiDrad8+4/Kq7KQlV1fpZ9Kw1piqMTHFpZiwH9TERgBxA/wByP9YVw+L+1USOgap+bUThmMazRN46Qe1Tg2xwHj/HFupzKygTOt5/XwvfyTMfDGkBhy8ZFDLCGo3aifnYJQAsVvqOD25/zoRCxBWdBPUdoKX7BrMWS1aoFDAAAAAElFTkSuQmCC');
      background-position: 99% 50%;
    }
  }
  &-dark {
    background-color: rgb(48, 52, 57);
    color: #fff;
    .auto-ui_navbar {
      &-rightbtn {
        &-icon {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAlCAMAAAD7q3BLAAAAk1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AulXU8uC7680kwGUXvl2I3Klj0Y6ICGjUAAAAKXRSTlMAH/GaIvQFSQ324s67k11VJQnr5tX6xqCLe2NZT0EvKREH3auijYQ+Nx0Tt9YAAAD+SURBVDjL1ZJnT8MwEEAve48mhZZOyn7pgP//64jDUGpiIvEF9UmJ7Mvz3cW2nLFOI+L5rZjYZXTUgUFwE76Y+0NCYQPTYHtzBSSl6EwcWpxJO9xMAW+hCWWiosu+fX/WcO6pzO73fFUB8bNWIdv1llgpLU+fDW9VXbvQ6nYNX3dpA+9jqPNypxau23w28Dj0/+GDUizJ2vdKhllGkEkMuZhYQCxAaDRCQNRj5m+G/8PYv+77IQdHN47NUQvp06ZpLsQ4NacR4/B26IdS0pE99Tf++Ln8jzF+x2oojEYBtThg5641hJvb4Ijr8RueKxJEmIkCaSlnleF7NStF3gGwSDd0zUqvHQAAAABJRU5ErkJggg==');
        }
      }
    }
  }
  &-transparent {
    background-color: transparent;
    box-shadow: none;
    .auto-ui_navbar {
      &-rightbtn {
        &-icon {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAlCAMAAAD7q3BLAAAAk1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AulXU8uC7680kwGUXvl2I3Klj0Y6ICGjUAAAAKXRSTlMAH/GaIvQFSQ324s67k11VJQnr5tX6xqCLe2NZT0EvKREH3auijYQ+Nx0Tt9YAAAD+SURBVDjL1ZJnT8MwEEAve48mhZZOyn7pgP//64jDUGpiIvEF9UmJ7Mvz3cW2nLFOI+L5rZjYZXTUgUFwE76Y+0NCYQPTYHtzBSSl6EwcWpxJO9xMAW+hCWWiosu+fX/WcO6pzO73fFUB8bNWIdv1llgpLU+fDW9VXbvQ6nYNX3dpA+9jqPNypxau23w28Dj0/+GDUizJ2vdKhllGkEkMuZhYQCxAaDRCQNRj5m+G/8PYv+77IQdHN47NUQvp06ZpLsQ4NacR4/B26IdS0pE99Tf++Ln8jzF+x2oojEYBtThg5641hJvb4Ijr8RueKxJEmIkCaSlnleF7NStF3gGwSDd0zUqvHQAAAABJRU5ErkJggg==');
          width: 66px;
          height: 66px;
          background-color: rgba(51, 51, 51, 0.5);
          border-radius: 50%;
          background-position: center;
        }
      }
    }
  }
  &-large{
    box-shadow:none;
    display: block;
    height: auto;
    padding-bottom: 40px;
    .auto-ui_navbar-title{
      padding-top:100px;
      text-align: left;
      line-height: 66px;
      font-size: 48px;
      padding-left: 40px;
    }
    .auto-ui_navbar-rightbtn{
      font-size: 28px;
      color: rgb(102,102,102);
    }
    .auto-ui_navbar-subTitle{
      padding-left: 40px;
      line-height: 50px ;
      font-size:30px;
      color:rgb(102,102,102);
      font-weight: normal;
    }
  }
  &-btn{
    height: 110px;
    padding-right:20px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 34px;
      height: 34px;
    }
  }
}
