@charset "utf-8";

@import '../../theme.scss';

.x-input {
  position: relative;
  display: flex;
  width: 100%;
  height: px(90);
  overflow: hidden;
  background-color: #fff;
  border: px(1) solid var(--x-input-border-color);
  border-radius: px($smallRadius);
  transition: all 0.1s ease-out;

  &:focus-within {
    border: px(1) solid var(--x-input-border-focus-color);
  }

  &--capsule {
    padding: 0 px(15);
    background-color: var(--x-border-color) !important;
    border: px(1) solid rgba(0, 0, 0, 0);
    border-radius: px(45);

    &:focus-within {
      border: px(1) solid var(--x-border-color);
    }
  }

  &--mini {
    height: px(70);
  }

  &--multi {
    height: 30 * 1.5 * 3 + 40 + px; // 默认3行
  }

  &--clear {
    &.x-input--multi {
      padding-right: 70px;

      .x-input__iconclear {
        position: absolute;
        top: -3px;
        right: 0;
      }
    }

    .x-input__ipt {
      padding-right: 0 !important;
    }

    .x-input__iconclear {
      display: flex;
      align-items: center;
      justify-content: center;
      width: px(90);
      height: px(88);

      &:active {
        span {
          opacity: 0.75;
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: px(34);
        height: px(34);
        background-color: var(--x-text-color-o30);
        border-radius: 50%;

        svg {
          display: block;
          width: px(18);
          height: px(18);
          overflow: hidden;

          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .x-input__ipt {
    display: block;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: px(20);
    color: var(--x-text-color);
    font-weight: normal;
    font-size: px(30);
    line-height: 1.5;
    background-color: transparent;
    border: none;
    resize: none;

    &::-webkit-input-placeholder {
      color: var(--x-text-color-o30);
    }
  }

  &--disabled {
    .x-input__ipt {
      opacity: 0.5;
    }
  }

  &.x-input--error {
    border: px(1) solid var(--x-danger-color);

    .x-input__ipt {
      color: var(--x-danger-color) !important;
    }
  }

  &__addon-before,
  &__addon-after {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: px(30);

    > * {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  // date类型
  [type='date']::-webkit-clear-button {
    display: none;
  }

  [type='date']::-webkit-inner-spin-button {
    display: none;
  }

  [type='date']::-webkit-datetime-edit-text {
    color: #ddd;
  }

  [type='date']::-webkit-calendar-picker-indicator {
    height: 0.5em;
    color: var(--x-danger-color);
    background: rgba(0, 0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  .x-app--support-dark-mode {
    .x-input {
      background-color: transparent;
    }
  }
}
