@charset "utf-8";
@import '../theme.scss';

.x-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    color: nth($primaryColor, 1);
    font-size: px(28);
    margin-left: px(10);
  }
}

.x-loading__spin {
  width: px(30);
  height: px(30);
  overflow: hidden;
  position: relative;
  &_circular {
    animation: __x_loading_rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &_path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: nth($primaryColor, 1);
    stroke-width: px(4); /*no*/
    animation: __x_loading_dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
}

@keyframes __x_loading_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes __x_loading_dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: px(-35); /*no*/
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: px(-124); /*no*/
  }
}
