@charset "utf-8";
@import '../theme.scss';

.x-input {
  display: flex;
  height: px(90);
  width: 100%;
  border: px(1) solid $borderColor; /*no*/
  border-radius: px($buttonRadius);
  transition: all 0.1s ease-out;
  background: #fff;
  overflow: hidden;
  position: relative;
  &:focus-within {
    // rgb(196, 196, 205) = rgb(60, 60, 90) x 0.3alpha
    border: px(1) solid rgb(196, 196, 205); /*no*/
  }
  &--mini {
    height: px(70);
  }
  &--multi {
    height: 30 * 1.5 * 3 + 40 + px; // 默认3行
  }
  &--clear {
    &.x-input--multi {
      .x-input__iconclear {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: px(-45);
      }
    }
    .x-input__ipt {
      padding-right: 0 !important;
    }
    .x-input__iconclear {
      width: px(90);
      height: px(90);
      display: flex;
      align-items: center;
      justify-content: center;
      &:focus-within {
        display: flex;
      }
      &:active {
        span {
          opacity: 0.75;
        }
      }
      span {
        width: 30px;
        height: 30px;
        display: block;
        background: url('./icon-clear.png') 50% no-repeat;
        background-size: 30px;
      }
    }
  }
  .x-input__ipt {
    font-size: px(30);
    display: block;
    flex: 1;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    color: rgb(60, 60, 90);
    padding: px(20);
    border: none;
    font-weight: normal;
    resize: none;
    &::-webkit-input-placeholder {
      color: #b4b4b4;
    }
  }
  &--disabled {
    .x-input__ipt {
      color: rgb(180, 180, 180) !important;
    }
  }
  &.x-input--error {
    border: px(1) solid $dangerColor; /*no*/
    .x-input__ipt {
      color: $dangerColor !important;
    }
  }
  &__addon-before,
  &__addon-after {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: px(30);
    > * {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  // date类型
  [type='date']::-webkit-clear-button {
    display: none;
  }
  [type='date']::-webkit-inner-spin-button {
    display: none;
  }
  [type='date']::-webkit-datetime-edit-text {
    color: #ddd;
  }
  [type='date']::-webkit-calendar-picker-indicator {
    background: rgba(0, 0, 0, 0);
    color: $dangerColor;
    height: 0.5em;
  }
}
