@charset "utf-8";

@import '../../theme.scss';

.x-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: px(90);
  font-size: px(30);
  white-space: nowrap;
  border-radius: px($smallRadius);
  cursor: pointer;
  transition: all 0.15s ease-out;
  user-select: none;

  &:active {
    opacity: 1;
  }

  &--capsule {
    border-radius: px(45);
  }

  &--default {
    color: rgb(170, 170, 176);
    background: var(--x-default-button-bg-color);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: #000;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.2s ease-out;
      content: '';
      pointer-events: none;
    }

    &:active {
      &::after {
        opacity: 0.1;
      }
    }

    .x-loading__spin span {
      background: var(--x-primary-color);
    }

    &.x-button--hollow {
      color: rgb(170, 170, 176);
      background: none;
      border: px(1) solid var(--x-default-button-border-color);

      &::after {
        background: var(--x-text-color-o60);
      }

      .x-loading__spin span {
        background: rgb(170, 170, 176);
      }
    }
  }

  &--primary {
    color: #fff;
    background: linear-gradient(to right, var(--x-primary-color-from), var(--x-primary-color-to));

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: #000;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.2s ease-out;
      content: '';
      pointer-events: none;
    }

    &:active {
      &::after {
        opacity: 0.2;
      }
    }

    &.x-button--shadow {
      box-shadow: 0 20px 30px -20px rgba(0, 210, 147, 0.8);
    }

    .x-loading__spin span {
      background: #fff;
    }

    &.x-button--hollow {
      color: var(--x-primary-color);
      background: none;
      border: px(1) solid var(--x-primary-color);

      &::after {
        background: var(--x-primary-color);
      }

      .x-loading__spin span {
        background: var(--x-primary-color);
      }
    }
  }

  &--secondary {
    color: #fff;
    background: linear-gradient(
      to right, var(--x-secondary-color-from), var(--x-secondary-color-to)
    );

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: #000;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.2s ease-out;
      content: '';
      pointer-events: none;
    }

    &:active {
      &::after {
        opacity: 0.2;
      }
    }

    .x-loading__spin span {
      background: #fff;
    }

    &.x-button--shadow {
      box-shadow: 0 20px 30px -20px rgba(0, 109, 255, 0.8);
    }

    &.x-button--hollow {
      color: var(--x-secondary-color);
      background: none;
      border: px(1) solid var(--x-secondary-color);

      &::after {
        background: var(--x-secondary-color);
      }

      .x-loading__spin span {
        background: var(--x-secondary-color);
      }
    }
  }

  &--danger {
    color: #fff;
    background: linear-gradient(to right, var(--x-danger-color-from), var(--x-danger-color-to));

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: #000;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.2s ease-out;
      content: '';
      pointer-events: none;
    }

    &:active {
      &::after {
        opacity: 0.2;
      }
    }

    .x-loading__spin span {
      background: #fff;
    }

    &.x-button--shadow {
      box-shadow: 0 20px 30px -20px rgba(255, 77, 77, 0.8);
    }

    &.x-button--hollow {
      color: var(--x-danger-color);
      background: none;
      border: px(1) solid var(--x-danger-color);

      &::after {
        background: var(--x-danger-color);
      }

      .x-loading__spin span {
        background: var(--x-danger-color);
      }
    }
  }

  &--lighter {
    color: var(--x-primary-color);
    background: var(--x-primary-color-lighter);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: var(--x-primary-color);
      border-radius: inherit;
      opacity: 0;
      transition: all 0.2s ease-out;
      content: '';
      pointer-events: none;
    }

    &:active {
      &::after {
        opacity: 0.08;
      }
    }

    .x-loading__spin span {
      background: var(--x-primary-color);
    }

    &.x-button--hollow {
      color: var(--x-primary-color);
      background: none;
      border: px(1) solid var(--x-primary-color);

      &::after {
        background: var(--x-primary-color);
      }

      .x-loading__spin span {
        background: var(--x-primary-color);
      }
    }
  }

  &--mini {
    height: px(60);
    font-size: px(26);

    .x-button__loading {
      .x-loading__spin {
        min-width: px(62);
        transform: scale(0.75);
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  &--loading {
    cursor: not-allowed;
    opacity: 0.8;
    pointer-events: none;

    .x-spin {
      transform: scale(0.828268);
    }
  }

  &--shrink {

    display: inline-flex;
    width: auto;
    padding: 0 px(60);

    &.x-button--mini {
      padding: 0 px(30);
    }
  }
}
