@charset "utf-8";

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.x-app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
}

.x-app-header {
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: opacity 0.3s ease-out;
  }
  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 100px;
    height: 100%;
  }
  &__title {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 100px;
    font-size: 36px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
  }
  &__addon-before,
  &__addon-after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex: 1;
    align-items: center;
    z-index: 2;
    padding: 0 40px;
    * {
      pointer-events: auto;
    }
  }
  &__addon-after {
    justify-content: flex-end;
  }
  &__addon-bottom {
    position: relative;
    z-index: 1;
    > .x-tabs {
      margin-top: -30px;
    }
  }
  &--ghost {
    box-shadow: none;
    &:after {
      opacity: 0;
    }
    .x-app-header__title {
      color: #fff;
    }
  }
  &__back {
    display: block;
    width: 80px;
    height: 80px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAATlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzO4SX6oAAAAGXRSTlMA9vFmST3553BEeV3dUjcNuKaIJBrLyZcu3mlH2gAAAIJJREFUOMvtzkkOgCAQBdFmEEQE54H7X9Q0XuB3YuKGWr9FUeujrNcGtq4UhVvGuC0RskGxNb/aTmz7X23WuA3VDuADbrPA0szW7xieDtYjqs+qN1C/J6CmpepbonUG9VV1B+qVtQoibUE9sHYJ1H3hIqiNSEfGmsCSE2Cyo0/U+r4HzwUNo3qaNwMAAAAASUVORK5CYII=')
      20px center no-repeat;
    background-size: 44px 44px;
    margin-left: -20px;
    &:active {
      opacity: 0.7;
    }
  }
  &__close {
    display: block;
    width: 80px;
    height: 80px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAM1BMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPKmszLAAAAEHRSTlMAR/X48WJ4bGfmez08OugY/mi0gQAAAJVJREFUOMvt1NsKg0AMRdEz44z3S/7/a8uktAFJe4Q8Ce4nkYXImIinu1fLlHAqTaW6uBPp0sm2ey7OYtqsZBdXMW1WKn7rnL42m3UaP9rs6EvTS7tcmAUG1Suwqh0Aqsu2FWa1XrXa/i80bZY0v+2MKx17s/uB8JP5O8dPg58z/4Lx2eBTx+c5sClkBwPbzf4bT/foBR0CDNt1irn8AAAAAElFTkSuQmCC')
      20px center no-repeat;
    background-size: 44px 44px;
    margin-left: -20px;
    &:active {
      opacity: 0.7;
    }
  }
}

.x-app-header--ghost .x-app-header__back {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsBAMAAADsqkcyAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMA9Ef4eWI7bGfm6BiE30lcAAAApElEQVQoz2MYGSBwEoylKYokbHNYAcJgsjmMJCxzxgjCUD5zEEk45gxQOVjxmaNIwqxnzgiBaMUzZwKQ7ew5c1ABqFjmzAkUp3CcOSPGwJB45kwDqhNrzhxMYJM5cxzN5exA5UDFBeg+8jlzUObMEQyPspwBAgcEH6EcqBgT7DpzZjUDXtWEzUa4hLC7Eb4kHCaYIYgZ3gRjBzMuMWMeVzoZrgAARWBSJspleBMAAAAASUVORK5CYII=')
    20px center no-repeat;
  background-size: 44px 44px;
}

.x-app-header--ghost .x-app-header__close {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAUVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////8IN+deAAAAGnRSTlMA9fFIPfnmcHlkXUTdUjccB8qviGorD72ilxA6rusAAACESURBVDjL7c5LEoQgDEXRAIIKQtv+zf4XaoUVvFRpOfGOz+DS1025YHvYemYz4paNwnLErBGLLSe1XSDbqG37qi0Wt6naDnzAbVFY2sWGH4a3v+jhET1O9WR9QtMh2hZQn1U3oJ5Fm6TSDtSdaJ9B3bIUQd2rdBRsCSx7BSY3hExf93cBu1IOUXJcPFgAAAAASUVORK5CYII=')
    20px center no-repeat;
  background-size: 44px 44px;
}

.x-app-body {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 40px;

  > .x-cell {
    margin-left: -40px;
    margin-right: -40px;
  }

  &--loading {
    .x-app__loading {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      margin: -30px 0 0 -30px;
    }
    .auto-ui-loading__spin_path {
      stroke-width: 2px; /*no*/
    }
  }
  &--error {
    .x-app__error-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: #cecece;
      font-size: 26px;
      i {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #cecece;
        margin-right: 10px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        font-style: normal;
        font-size: 24px;
      }
    }
  }
  &__bottom {
    margin-top: 20px;
    text-align: center;
    color: #999;
    &-inner {
      height: 80px;
      line-height: 80px;
    }
  }
}

.x-app-footer {
  background: #fff;
  min-height: 90px;
  position: relative;
  z-index: 2;
}
