@charset "utf-8";

@import '../../theme.scss';

.x-switch {
  position: relative;
  display: inline-flex;
  width: px(100);
  height: px(54);
  background-color: var(--x-switch-bg-color);
  border-radius: px(27);
  transition: all 0.3s ease-out;

  > em {
    position: absolute;
    top: px(4);
    left: px(4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(46);
    height: px(46);
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    svg {
      width: px(22);
      height: px(22);
    }

    path {
      fill: #ddd;
    }
  }

  &.x-switch--active {
    path {
      fill: var(--x-primary-color);
    }

    &.x-switch--secondary path {
      fill: var(--x-secondary-color);
    }

    &.x-switch--danger path {
      fill: var(--x-danger-color);
    }
  }

  &--active {
    background-color: var(--x-primary-color);

    em {
      transform: translate(px(46), 0);
    }

    &.x-switch--secondary {
      background-color: var(--x-secondary-color);
    }

    &.x-switch--danger {
      background-color: var(--x-danger-color);
    }
  }

  &--disabled {
    opacity: 0.5;

    &:active {
      opacity: 0.5 !important;
    }
  }

  &--io {
    width: px(120);

    sub,
    sup {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 0 px(20);
      color: #fff;
      font-size: px(24);
      font-style: normal;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }

    sub {
      justify-content: flex-end;
      opacity: 1;
    }

    &.x-switch--active {
      sub {
        opacity: 0;
      }

      sup {
        opacity: 1;
      }

      em {
        transform: translate(px(66), 0);
      }
    }
  }

  &--mini {
    width: px(78);
    height: px(44);

    > em {
      width: px(36);
      height: px(36);
    }

    &.x-switch--active {
      em {
        transform: translate(px(34), 0);
      }
    }
  }

  &--minimum {
    width: px(64);
    height: px(34);

    > em {
      width: px(26);
      height: px(26);
    }

    &.x-switch--active {
      em {
        transform: translate(px(30), 0);
      }
    }
  }
}
