.auto-ui_navbar {
  height: 88px;
  line-height: 88px;
  user-select: none;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  &-icon {
    height: 88px;
    width: 88px;
    display: inline-block;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  &-leftbtn {
    display: flex;
    padding-left: 30px;
    &-icon {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAATlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzO4SX6oAAAAGXRSTlMA9vFmST3553BEeV3dUjcNuKaIJBrLyZcu3mlH2gAAAIJJREFUOMvtzkkOgCAQBdFmEEQE54H7X9Q0XuB3YuKGWr9FUeujrNcGtq4UhVvGuC0RskGxNb/aTmz7X23WuA3VDuADbrPA0szW7xieDtYjqs+qN1C/J6CmpepbonUG9VV1B+qVtQoibUE9sHYJ1H3hIqiNSEfGmsCSE2Cyo0/U+r4HzwUNo3qaNwMAAAAASUVORK5CYII=);
    }
  }
  &-title {
    width: 100%;
    text-align: center;
  }
  &-rightbtn {
    display: flex;
    padding-right: 30px;
    &-icon {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAOVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNDquetAAAAEnRSTlMA0/nwFQRToZZ8VrxX5dYxIzp4xV42AAAAZklEQVQ4y+2QSQ7AIAhFAeehtvX+h23FRF3abcNbfZ9ACCAIfyUiYYSJCQelcxHaKeX0G2xtLLW+vdU1W7EJNABYOc0ZlfFD2C4sAHGg8XNXJg0RugifpkYOeWdXyIVK3riAIAjwAA2aBzkP8kM2AAAAAElFTkSuQmCC);
      background-position: 100% 50%;
    }
  }
}
