@charset "utf-8";

.x-switch {
  display: block;
  width: 100px;
  height: 54px;
  background-color: #ddd;
  border-radius: 27px;
  transition: all 0.3s ease-out;
  position: relative;
  box-shadow: 0 0 0 0 rgba(0, 187, 68, 0) inset;
  > em {
    display: block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    transition: all 0.3s ease-out;
  }
  &--active {
    box-shadow: 0 0 0 30px rgba(0, 187, 68, 1) inset;
    background-color: #00bb55;
    em {
      transform: translate(46px, 0);
    }
  }
  &--icon {
    > em {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEUAAADd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3NBju8AAAAGnRSTlMAwgW0uEo+DPptX2P0nMuFcOqoKNjSUTMaWGoU0WQAAAEYSURBVEjH3dTbboMwEATQZW1CoAWXW5Lu/39ohaowtox3/Zx5i8VhhkhAn5fnsi030jL4pmdCWjnSK8IdF0zd+ft3E92w/78gxLeAUYRM59Ei7/xcEi8ZaSfRevzVHZ/f5R6GaOLz273YEwmmKuMgOqLUXG7jTJg97nIVjKDHFPm2XlmlGNY78ucZYkGI1rNnq2yTr7K3YVWtwSrbzLUCeUDsVBV2IPOjRnSNxPmqFshgEohKwxCZMVctw73qeSAcUVvRw5Fggin3dKk4TLTN6sDnHcYWubFXkbYtFR6nqimK0n+9jhBMilnPwzHrKGwbMUsRSc+EFqzSzZg8C4SybSUkzDIH9Ruyi2zJW/0KPrxIy+B8Tx+XPz+GR4XXuZJbAAAAAElFTkSuQmCC');
    }
    &.x-switch--active {
      > em {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAQlBMVEUAAAAAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1UAu1U++pnkAAAAFXRSTlMAhOUmLdSf8uuIEaUYd8WyZ1w+HJHyT2sSAAAAvElEQVRIx+3TSw7CMAwE0DSBNA39l7n/VUEB1QsrckZig9TZdfHUsa24K/+fPS4rJzq8M2dCDCh50gKeFvC0QKRFOmgRiO2W+BsrEi16vtUpwraTc3Q9sGSm1Vq+77m9lfP4mLF9u8DX5OZd+brpKjefcJqx9eYPMdm+uTbmHNqMle2qRGX0HEY31cr6j2plm2NSraxuSVqJMIy+ud1NWnEmiTAM+84j0UqMCMaU7RIZemAOjso2TMFd+WVehK4lhZpUuAAAAAAASUVORK5CYII=');
      }
    }
  }
  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &--io {
    width: 120px;
    sub, sup {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-style: normal;
      color: #fff;
      padding: 0 20px;
      font-size: 24px;
      transition: opacity 0.2s ease-out;
      opacity: 0;
    }
    sub {
      justify-content: flex-end;
      opacity: 1;
    }
    &.x-switch--active {
      sub {
        opacity: 0;
      }
      sup {
        opacity: 1;
      }
      em {
        transform: translate(66px, 0);
      }
    }
  }
}
