@charset "utf-8";
@import '../theme.scss';

.at-calendar {
  background: #fff;

  .header {
    .time-range {
      display: flex;
      justify-content: space-between;
      padding: 0 px(40);
      margin-bottom: px(70);
      background: url('./icon-range.png') center center no-repeat;
      background-size: px(60) px(60);
      .date {
        color: rgb(60, 60, 90);
        &.active {
          color: $primaryColor;
          > p {
            color: $primaryColor;
          }
        }
        h6 {
          color: inherit;
          font-size: px(40);
          margin-bottom: px(20);
          font-weight: normal;
        }
        p {
          font-size: px(30);
        }
        &.to p {
          text-align: right;
        }
      }
    }
    .weeks {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 px(40);
      margin-bottom: px(20);
    }
  }

  .clear {
    color: rgb(138, 138, 156); // rgb(60, 60, 90) x 0.6alpha
  }

  .month {
    .month-title {
      font-size: px(34);
      font-weight: 400;
      line-height: px(40);
      margin-bottom: px(70);
    }
    > .list {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
    }
    .month-day {
      width: 14.285%; // 7分之1
      margin-bottom: px(60);

      &.disabled {
        p {
          em {
            color: #b2b2b2;
            background: none;
          }
        }
        span {
          visibility: hidden;
        }
      }

      &.disabled-all {
        p {
          em {
            color: #b2b2b2;
            background: none;
          }
          &:before {
            content: '';
            position: absolute;
            left: 15%;
            top: 50%;
            width: 70%;
            height: px(1); /*no*/
            background: #b2b2b2;
            transform: translate(0, -50%) rotate(45deg);
          }
        }
        span {
          visibility: hidden;
        }
      }

      &.disabled-part {
        p em {
          background: url('./date-part.png');
          background-size: 100% 100%;
        }
      }

      p {
        padding: 0 px(15);
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: px(20);
        &:after {
          content: '';
          display: block;
          margin-top: 100%;
        }
      }

      em {
        position: absolute;
        background-size: 100%;
        left: px(15);
        top: 0;
        right: px(15);
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-size: px(22);
        color: rgb(60, 60, 90);
        z-index: 2;
        background: #f2f2f2;
        border-radius: 50%;
      }

      span {
        font-size: px(20);
        color: rgb(196, 196, 205); // rgb(60, 60, 90) x 0.3alpha
        display: block;
        text-align: center;
        height: px(20);
        line-height: px(20);
      }

      &.active p {
        em {
          color: #fff;
          background: none;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: px(-1); /*no*/
          right: px(-1); /*no*/
          top: 0;
          bottom: 0;
          background: $primaryColor;
          transform: translate(0, 0) rotate(0);
          height: 100%;
          width: auto;
        }
      }

      &.empty + .active,
      &.active:first-child,
      &.active.mon,
      &.active-first {
        p:before {
          left: 50%;
        }
        em {
          background: $primaryColor !important;
          border-radius: 50%;
          color: #fff !important;
        }
      }

      &.active-first.disabled-all:not(.active) p:before {
        display: none;
      }

      &.active:last-child,
      &.active.sun,
      &.active-end {
        p:before {
          right: 50%;
        }
        em {
          background: $primaryColor !important;
          border-radius: 50%;
          color: #fff;
        }
      }

      &.active-first em:before,
      &.active-end em:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        border: px(2) solid mix($primaryColor, #000, 80%); /*no*/
        border-top-color: transparent;
        border-right-color: transparent;
        transform: rotate(45deg);
      }

      &.active-end em:before {
        transform: rotate(-135deg);
      }

      &.active-first.active-end {
        em:before {
          border-top-color: mix($primaryColor, #000, 80%) !important; /*no*/
          border-right-color: mix($primaryColor, #000, 80%) !important; /*no*/
          border-bottom-color: mix($primaryColor, #000, 80%) !important; /*no*/
          border-left-color: mix($primaryColor, #000, 80%) !important; /*no*/
          transform: rotate(0);
        }
      }

      &.is-holiday span {
        color: $dangerColor;
      }
    }
  }

  .footer {
    box-shadow: 0 0 px(30) rgba(0, 0, 0, 0.08);
    min-height: 0;
    .tips {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: px(20) px(40);
      > p {
        display: flex;
        align-items: center;
        font-size: px(24);
        color: rgb(138, 138, 156); // rgb(60, 60, 90) x 0.6alpha
        height: px(24);
        line-height: px(24);
        margin-left: px(40);
        i {
          width: px(30);
          height: px(30);
          margin-right: px(10);
          display: block;
          background: #ddd;
          border-radius: 50%;
          &.part {
            background: url('./icon-date-part.png');
            background-size: 100% 100%;
          }
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      padding: px(20) px(40);
      border-top: px(1) solid #f2f2f2; /*no*/
      > p {
        display: block;
        flex: 1;
        font-size: px(28);
        color: rgb(60, 60, 90);
        strong {
          font-size: px(34);
          padding-left: px(10);
        }
      }
      .submit {
        width: px(240);
        flex: none;
      }
    }
  }
}

.at-calendar__time-picker {
  .x-popup__inner {
    overflow: hidden;
  }
  .header {
    display: flex;
    height: px(100);
    align-items: center;
    justify-content: space-between;
    padding: 0 px(30);
    a {
      font-size: px(26);
      &.cancel {
        color: rgb(138, 138, 156); // rgb(60, 60, 90) x 0.6alpha
      }
    }
  }
  .x-time-picker {
    padding-left: px(200);
    padding-right: px(200);
    overflow: visible;
  }
  .x-time-picker__day-list {
    display: none;
  }
  .x-time-picker__tips {
    margin-top: -20px;
  }
}
