@charset "utf-8";
@import '../theme.scss';

.x-tabs {
  display: flex;
  height: px(100);
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  &--shrink {
    .x-tabs--scroller {
      overflow: auto;
      height: px(140);
    }
    .x-tabs__inner {
      display: flex;
      height: px(100);
    }
    .x-tabs__item {
      width: auto;
      padding: 0 50px;
      flex: none;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background: #fff;
    font-size: px(30);
    color: #3e3d57;
    position: relative;
    &:active {
      color: inherit;
    }
  }
  &--active {
    color: $primaryColor;
    font-weight: bold;
    animation: __x_tabs_active_scale 0.2s ease-out;
    &:active {
      color: $primaryColor;
      opacity: 1;
    }
  }
  &__line {
    height: px(6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 99;
    background: #f00;
    sup {
      position: absolute;
      left: -100%;
      top: -1px;
      bottom: -1px;
      width: 100%;
      background: #fff;
      margin-left: -30px;
    }
    sub {
      position: absolute;
      left: 0;
      top: -1px;
      bottom: -1px;
      width: 100%;
      background: #fff;
      margin-left: 30px;
    }
  }
}

@keyframes __x_tabs_line_scale {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(3);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes __x_tabs_active_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
