@charset "utf-8";

@import '../../theme.scss';

.at-calendar {
  --border-image: url('../active-border.png');

  &--secondary {
    --x-primary-color: var(--x-secondary-color);
    --border-image: url('../active-border-s.png');
  }
  overflow: hidden;
  background: var(--x-bg-color-lighter);

  > .header {
    display: block;
  }

  > .header .x-app-header__inner {
    z-index: 6;
    background-color: var(--x-bg-color-lighter);
  }

  > .header .x-app-header__addon-bottom {
    position: relative;
    z-index: 7;
    padding: 0;

    .time-range {
      position: relative;
      z-index: 3;
      display: flex;
      height: px(180);

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: px(6);
        height: 80%;
        background: none;
        box-shadow: 0 0 px(30) rgba(#477a7f, 0.4);
        content: '';
      }

      &::before {
        position: absolute;
        bottom: 0;
        z-index: 3;
        display: block;
        width: px(60);
        height: 100%;
        background: var(--x-bg-color-lighter);
        content: '';
      }

      .point {
        position: absolute;
        bottom: 0;
        z-index: 5;
        display: none;
        width: px(20);
        height: px(20);
        background: var(--x-bg-color-lighter);
        transform: translate(px(-10), px(8)) rotate(45deg);
      }

      &.choose-from {
        .point {
          left: 25%;
          display: block;
        }

        &::before {
          right: 50%;
        }

        &::after {
          transform: translateX(px(-5)) rotate(-2deg);
        }

        .date.from {
          box-shadow: px(-10) px(20) px(40) rgba(#477a7f, 0.1);

          h6,
          p {
            color: var(--x-primary-color);
          }
        }
      }

      &.choose-to {
        .point {
          left: 75%;
          display: block;
        }

        &::before {
          left: 50%;
        }

        &::after {
          transform: translateX(px(5)) rotate(2deg);
        }

        .date.to {
          box-shadow: px(10) px(20) px(40) rgba(#477a7f, 0.1);

          h6,
          p {
            color: var(--x-primary-color);
          }
        }
      }

      &.choose-finished {
        &::before,
        &::after {
          display: none;
        }
      }

      .date {
        position: relative;
        z-index: 5;
        flex: 1;
        width: 100%;
        padding: px(10) px(40);
        color: var(--x-text-color);

        &.active {
          color: var(--x-primary-color);

          > p {
            color: var(--x-primary-color);
          }
        }

        h6 {
          margin-bottom: px(15);
          color: inherit;
          font-size: px(36);
        }

        p {
          font-size: px(30);
        }

        &.to {
          h6,
          p {
            text-align: right;
          }
        }
      }
    }

    .weeks {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: px(66);
      padding: 0 px(40);
      font-size: px(24);
      background: var(--x-bg-color);

      li {
        height: px(66);
        color: var(--x-text-color);
        line-height: px(66);
      }

      .active {
        position: relative;

        &::after {
          position: absolute;
          bottom: px(5);
          left: 50%;
          display: block;
          width: px(8);
          height: px(8);
          margin-left: px(-4);
          background-color: var(--x-primary-color);
          border-radius: 50%;
          content: '';
        }
      }
    }
  }

  .clear {
    color: var(--x-text-color-o60);

    &.disabled {
      opacity: 0.3;
    }
  }

  .header-tips {
    position: absolute;
    right: px(20);
    bottom: px(-80);
    left: px(20);
    z-index: 99;
    display: flex;
    align-items: center;
    height: px(60);
    padding: 0 px(30);
    overflow: hidden;
    color: var(--x-danger-color);
    font-size: px(22);
    white-space: nowrap;
    background: #fff5cb;
    border-radius: px(40);

    &.has-link {
      padding-right: px(60);

      .arrow {
        position: absolute;
        top: 50%;
        right: px(16);
        width: px(20);
        height: px(20);
        transform: translateY(-50%);
        fill: var(--x-danger-color);
      }
    }
  }

  .has-header-tips {
    padding-top: px(120);
  }

  .body {
    transform: translateZ(0);
  }

  .month {
    .month-title {
      margin-bottom: px(70);
      font-weight: 400;
      font-size: px(36);
      line-height: px(40);
    }

    > .list {
      display: flex;
      flex-wrap: wrap;
    }

    .month-day {
      position: relative;
      width: 14.285%; // 7分之1
      padding-bottom: px(60);

      &.disabled {
        p {
          em {
            color: var(--x-text-color-o40);
            background: none;
          }
        }

        span {
          visibility: hidden;
        }
      }

      &.disabled-all {
        p {
          em {
            color: var(--x-text-color-o40);
            background: none;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 15%;
            width: 70%;
            height: px(1);
            background-color: var(--x-text-color-o30);
            transform: translate(0, -50%) rotate(45deg);
            content: '';
          }
        }

        span {
          visibility: hidden;
        }
      }

      &.disabled-part {
        p em {
          background: url('../date-part.png');
          background-size: 100% 100%;
        }
      }

      .choose-tips {
        position: absolute;
        top: px(-54);
        left: 50%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        height: px(46);
        padding: 0 px(16);
        color: var(--x-danger-color);
        font-size: px(24);
        line-height: px(44);
        white-space: nowrap;
        background: #fff5cb;
        border-radius: px(30);
        transform: translateX(-50%) scale(0.8);
        transform-origin: center;
        pointer-events: none;

        &::before {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: px(12);
          height: px(12);
          background: #fff5cb;
          transform: translate(-50%, 50%) rotate(45deg);
          content: '';
        }
      }

      p {
        position: relative;
        display: block;
        margin-bottom: px(20);
        padding: 0 px(15);
        overflow: hidden;

        &::after {
          display: block;
          margin-top: 100%;
          content: '';
        }
      }

      em {
        position: absolute;
        top: 0;
        right: px(15);
        bottom: 0;
        left: px(15);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--x-text-color);
        font-size: px(26);
        font-style: normal;
        background: var(--x-calendar-day-bg-color);
        background-size: 100%;
        border-radius: 50%;
      }

      .badge {
        position: absolute;
        top: 0;
        right: px(12);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: px(30);
        height: px(30);
        overflow: hidden;
        color: var(--x-text-color-o70);
        font-size: px(18);
        font-style: normal;
        line-height: 1;
        background: var(--x-bg-color-lighter);
        border: px(1) solid var(--x-border-color);
        border-radius: 50%;
      }

      span {
        display: block;
        height: px(20);
        color: var(--x-text-color-o30);
        font-size: px(20);
        line-height: px(20);
        text-align: center;
        text-indent: -0.5em;
      }

      &.active p {
        em {
          color: #fff;
          background: none;
        }

        &::before {
          position: absolute;
          top: 0;
          right: px(-1);
          bottom: 0;
          left: px(-1);
          display: block;
          width: auto;
          height: 100%;
          background: var(--x-primary-color);
          transform: translate(0, 0) rotate(0);
          content: '';
        }
      }

      &.empty + .active,
      &.active:first-child,
      &.active.mon,
      &.active-first {
        p::before {
          left: 50%;
        }

        em {
          color: #fff;
          background: var(--x-primary-color) !important;
          border-radius: 50%;
        }
      }

      &.active-first.disabled-all:not(.active) p::before {
        display: none;
      }

      &.active:last-child,
      &.active.sun,
      &.active-end {
        p::before {
          right: 50%;
        }

        em {
          color: #fff;
          background: var(--x-primary-color) !important;
          border-radius: 50%;
        }
      }

      &.active-first em::before,
      &.active-end em::before {
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        display: block;
        background: var(--border-image) 0 center no-repeat;
        background-size: 200% 100%;
        content: '';
      }

      &.active-end em::before {
        right: 0;
        left: 50%;
        background: var(--border-image) right center no-repeat;
        background-size: 200% 100%;
      }

      &.active-first.active-end {
        em::before {
          right: 0;
          left: 0;
          background: var(--border-image);
          background-size: 100% 100%;
        }
      }

      &.is-holiday span {
        color: var(--x-primary-color);
      }
    }
  }

  .footer {
    display: block;
    min-height: 0;
    overflow: hidden;

    .tips {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: px(20) px(40);
      overflow: hidden;

      > p {
        display: flex;
        align-items: center;
        height: px(24);
        margin-left: px(40);
        color: var(--x-text-color-o60);
        font-size: px(24);
        line-height: px(24);

        i {
          display: block;
          width: px(30);
          height: px(30);
          margin-right: px(10);
          background: #ddd; // todo: color
          border-radius: 50%;

          &.part {
            background: url('../icon-date-part.png'); // todo: color
            background-size: 100% 100%;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      padding: px(20) px(40);
      border-top: px(1) solid var(--x-time-picker-border-color);

      > .footer-tips {
        display: block;
        flex: 1;
      }

      > .def-tips-txt {
        display: block;
        flex: 1;
        color: rgb(60, 60, 90);
        font-size: px(28);

        strong {
          padding-left: px(10);
          font-size: px(34);
        }
      }

      > .submit {
        flex: none;
        width: px(240);
      }
    }
  }
}

.at-calendar__time-picker {
  &--secondary {
    --x-primary-color: var(--x-secondary-color);
  }

  .x-popup__inner {
    overflow: hidden;
  }

  .handover-time-tip {
    padding: 0 26px 30px 26px;
    font-size: 24px;
    line-height: 34px;

    .text {
      display: block;
      color: #ff5c5c;
      text-align: center;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: px(100);
    padding: 0 px(30);

    a {
      font-size: px(26);

      &.cancel {
        color: rgb(138, 138, 156); // rgb(60, 60, 90) x 0.6alpha
      }
    }
  }

  .x-time-picker {
    padding-right: px(200);
    padding-left: px(200);
    overflow: visible;
  }

  .x-time-picker__day-list {
    display: none;
  }

  .x-time-picker__tips {
    margin-top: -20px;
  }
}
