@charset "utf-8";

.mobile-preview {
  width: 405px;
  background: #333;
  padding: 15px 0;
  border-radius: 12px;
  > header {
    background: #fff;
    width: 355px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 10px auto;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
  }
  > main {
    background: #fff;
    width: 375px;
    margin: 0 auto;
    overflow: hidden;
  }
}
