@charset "utf-8";
@import '../theme.scss';

.x-aspect-ratio {
  position: relative;
  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__ar {
    pointer-events: none;
    width: 100%;
  }
}
