@charset "utf-8";
@import '../theme.scss';

.x-time-picker {
  background: #fff;
  display: flex;
  height: px(390);
  overflow: hidden;
  padding: px(20) px(60);
  flex-wrap: nowrap;
  position: relative;
  > div ul {
    padding: px(140) 0;
    overflow: hidden;
    touch-action: none;
    li {
      height: px(70);
      line-height: px(70);
      text-align: center;
      font-size: px(36);
      color: #333;
      display: block;
    }
  }
  &__tips {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    color: #ff3d3b;
    font-size: 22px;
    pointer-events: none;
  }
  &__mask-t,
  &__mask-b {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: px(160);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(rgba(255, 255, 255, 0.7)));
    pointer-events: none;
    z-index: 9;
  }
  &__mask-b {
    top: auto;
    bottom: 0;
    background-image: -webkit-gradient(linear, 0 bottom, 0 0, from(#fff), to(rgba(255, 255, 255, 0.7)));
  }
  &__day-list {
    flex-grow: 1;
    overflow: hidden;
  }
  &__hh-list {
    flex-grow: 1;
    overflow: hidden;
  }
  &__mm-list {
    flex-grow: 1;
    overflow: hidden;
  }
}
